<mat-toolbar class="toolbar" role="banner">
    <mat-toolbar-row>
        <span>Menu Apps</span> &nbsp;
        <button mat-button [matMenuTriggerFor]="menulist">Menu List</button>

        <mat-menu #menulist="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="movies">Movies</button>
            <button mat-menu-item [matMenuTriggerFor]="customers">Customers</button>
        </mat-menu>

        <mat-menu #movies="matMenu">
            <button mat-menu-item routerLink="/movies" routerLinkActive="active">Movies List</button>
        </mat-menu>

        <mat-menu #customers="matMenu">
            <button mat-menu-item routerLink="/customers" routerLinkActive="active">Customer List</button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
<br>
<br>
<div class="content" role="main">
    <div class="container">
        <mat-card>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Customer Name</mat-label>
                    <input matInput name="name">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Customer Address</mat-label>
                    <textarea matInput name="address"></textarea>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Customer Tlp</mat-label>
                    <input matInput name="tlp">
                </mat-form-field>

                <button mat-raised-button (click)="openDialog()">Landing</button>
            </form>
        </mat-card>
    </div>
</div>