<mat-toolbar class="toolbar" role="banner">
        <mat-toolbar-row>
            <span>Menu Apps</span> &nbsp;
            <button mat-button routerLink="/" routerLinkActive="active">Dashboard</button>
            <button mat-button [matMenuTriggerFor]="menulist">Menu List</button>
            <mat-menu #menulist="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="movies">Movies</button>
                <button mat-menu-item [matMenuTriggerFor]="customers">Customers</button>
            </mat-menu>
    
            <mat-menu #movies="matMenu">
                <button mat-menu-item routerLink="/movies" routerLinkActive="active">Movies List</button>
            </mat-menu>
    
            <mat-menu #customers="matMenu">
                <button mat-menu-item routerLink="/customers" routerLinkActive="active">Customer List</button>
            </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>
    <br>
    <br>

<div class="content" role="main">
    <div class="container">
        <div class="container">
            <mat-card>
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>Customer Name</mat-label>
                        <input matInput [(ngModel)]="selectedCustomer.name" name="name" required>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Customer Address</mat-label>
                        <textarea matInput [(ngModel)]="selectedCustomer.address" name="address" required></textarea>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Customer Tlp</mat-label>
                        <input matInput [(ngModel)]="selectedCustomer.tlp" name="tlp" required>
                    </mat-form-field>

                    <button mat-raised-button (click)="createCustomer()">Add Movie Data</button>
                </form>
            </mat-card>
        </div>

        <p>
            <p>
                <br>
                <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="">
                    <thead>
                        <tr>
                            <th>Name Customers</th>
                            <th>Customers Address</th>
                            <th>Customers Telepon</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let customer of customer">
                            <td>{{customer.name}}</td>
                            <td>{{customer.address}}</td>
                            <td>{{customer.tlp}}</td>
                            <td><button mat-raised-button (click)="movieClicked(customer)">Views</button>
                                <button mat-raised-button *ngIf="selectedCustomer.id != -1"
                                    (click)="updateCustomer()">Edit</button>
                                <button mat-raised-button *ngIf="selectedCustomer.id != -1"
                                    (click)="deleteCustomer()">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
    </div>
</div>
<router-outlet></router-outlet>