<div class="toolbar" role="banner">
    <img width="40" alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
    <span>Welcome Apps Angular Django Backend</span>
</div>
<div class="content" role="main">
    <br>
    <div class="container">
        <div class="container">
            <mat-card>
                <form class="example-form">
                    <mat-form-field class="example-full-width" [style.width.px]=800>
                        <mat-label>Title Movies</mat-label>
                        <input matInput [(ngModel)]="selectedMovie.title" name="title">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" [style.width.px]=800>
                        <mat-label>Description Movies</mat-label>
                        <textarea matInput [(ngModel)]="selectedMovie.desc" name="desc" >
                        </textarea>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" [style.width.px]=800>
                        <mat-label>Years Movies</mat-label>
                        <input matInput [(ngModel)]="selectedMovie.year" name="year" >
                    </mat-form-field>

                    <button mat-raised-button (click)="createMovie()">Add Movie Data</button>
                </form>
            </mat-card>
        </div>
        <p>
            <p>
                <br>
                <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="">
                    <thead>
                        <tr>
                            <th>Movie Title</th>
                            <th>Description Movies</th>
                            <th>Year Movie</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let movie of movies">
                            <td class="text-left">{{ movie.title}}</td>
                            <td class="text-left">{{ movie.desc}}</td>
                            <td class="text-left">{{ movie.year}}</td>
                            <td>
                                <button mat-raised-button (click)="movieClicked(movie)">Views</button>
                                <button mat-raised-button *ngIf="selectedMovie.id != -1"
                                    (click)="updateMovie()">Edit</button>
                                <button mat-raised-button *ngIf="selectedMovie.id != -1"
                                    (click)="deleteMovie()">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
    </div>
</div>
<router-outlet></router-outlet>