<mat-toolbar class="toolbar" role="banner">
        <mat-toolbar-row>
            <span>Menu Apps</span> &nbsp;
            <button mat-button routerLink="/" routerLinkActive="active">Dashboard</button>
            <button mat-button [matMenuTriggerFor]="menulist">Menu List</button>
            <mat-menu #menulist="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="movies">Movies</button>
                <button mat-menu-item [matMenuTriggerFor]="customers">Customers</button>
            </mat-menu>
    
            <mat-menu #movies="matMenu">
                <button mat-menu-item routerLink="/movies" routerLinkActive="active">Movies List</button>
            </mat-menu>
    
            <mat-menu #customers="matMenu">
                <button mat-menu-item routerLink="/customers" routerLinkActive="active">Customer List</button>
            </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>
    <br>
    <br>
<div class="content" role="main">
    <br>
    <div class="container">
        <div class="container">
            <mat-card>
                <form class="example-form">
                    <mat-form-field class="example-full-width" [style.width.px]=800>
                        <mat-label>Title Movies</mat-label>
                        <input matInput [(ngModel)]="selectedMovie.title" name="title">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" [style.width.px]=800>
                        <mat-label>Description Movies</mat-label>
                        <textarea matInput [(ngModel)]="selectedMovie.desc" name="desc" >
                        </textarea>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" [style.width.px]=800>
                        <mat-label>Years Movies</mat-label>
                        <input matInput [(ngModel)]="selectedMovie.year" name="year" >
                    </mat-form-field>

                    <button mat-raised-button (click)="createMovie()">Add Movie Data</button>
                </form>
            </mat-card>
        </div>
        <p>
            <p>
                <br>
                <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="">
                    <thead>
                        <tr>
                            <th>Movie Title</th>
                            <th>Description Movies</th>
                            <th>Year Movie</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let movie of movies">
                            <td class="text-left">{{ movie.title}}</td>
                            <td class="text-left">{{ movie.desc}}</td>
                            <td class="text-left">{{ movie.year}}</td>
                            <td>
                                <button mat-raised-button (click)="movieClicked(movie)">Views</button>
                                <button mat-raised-button *ngIf="selectedMovie.id != -1"
                                    (click)="updateMovie()">Edit</button>
                                <button mat-raised-button *ngIf="selectedMovie.id != -1"
                                    (click)="deleteMovie()">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
    </div>
</div>
<router-outlet></router-outlet>